.mat-card {
  max-width: 20em;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #fafafa;
  border-color: darkgray;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  transition: all 0.3s ease-in-out;
}

.mat-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
  0 10px 10px rgba(0, 0, 0, 0.22);
  transform: perspective(1px) scale(1.01);
}



.card-header {
  margin-bottom: 0.5rem;
  background-color: #039be5;
  border-radius: 5px;
  position: relative;
  height: 2rem;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.header-contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ECEFF1;
}

.divider {
  height: 2px;
  background-color: #039be5;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  text-overflow: ellipsis;
}

.more-button {
  float: right;
  right: 0;
  position: absolute;
  color: #ECEFF1;
  padding: 0 0 2px 2px;
}

.recipe-number {
  word-wrap: break-word;
  font-size: 1rem;
  font-weight: bold;
  margin: 0.5rem;
  color: #ECEFF1;
  left: 0;
}


.view-recipe-btn {
  float: right;
  display: inline-block;
  border-radius: 4px;
  background-color: #039be5;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  width: fit-content;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.view-recipe-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color: #ECEFF1;
  font-weight: bold;
}

.view-recipe-btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.view-recipe-btn:hover span {
  padding-right: 25px;
}

.view-recipe-btn:hover span:after {
  opacity: 1;
  right: 0;
}


