<div class="context">
  <h1 class="title">
    Foodlet, your meal planner and recipe tracker
  </h1>
  <div class="flexContainer">

    <mat-card (click)="loginMenu()" class="homeActionCardLeft">
      <mat-card-content class="cardContent">
        <label class="cardLabel">
          Login
        </label>
        <mat-icon class="largeIcon">
          login
        </mat-icon>
      </mat-card-content>
    </mat-card>

    <mat-card (click)="registerMenu()" class="homeActionCardRight">
      <mat-card-content class="cardContent">
        <label class="cardLabel">
          Register
        </label>

        <mat-icon class="largeIcon">
          arrow_forward
        </mat-icon>
      </mat-card-content>
    </mat-card>


  </div>
</div>
<div class="area" >
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div >
