<mat-card class="mat-card">
  <mat-card-header class="card-header">
    <mat-icon>
      info
    </mat-icon>
  </mat-card-header>
  <mat-card-title> {{ recipe.title }} </mat-card-title>
  <mat-card-subtitle> {{ recipe.servings }} serving(s) </mat-card-subtitle>
  <mat-card-subtitle> 200 Calories per serving </mat-card-subtitle>
  <mat-card-content>
        <app-nutrient-table-compact
          [foodItems]="recipe.ingredients">
        </app-nutrient-table-compact>
    </mat-card-content>
    <mat-card-actions style="display: inline-block">
        <button mat-button style="float: right"> View recipe </button>
    </mat-card-actions>
</mat-card>
