.accordion {
  display: block;
  max-width: 400px;
  font-family: Helvetica, sans-serif;
  transition: 0.3s;
}

.accordion-item {
  display: block;
  border: solid 1px #ccc;
  font-family: Helvetica, sans-serif;
  transition: 0.3s;
}

.accordion-item + .accordion-item {
  border-top: none;
  transition: 0.3s;
}

.accordion-item-header {
  height: 1em;
  display: flex;
  align-content: center;
  justify-content: space-between;
  font-family: Helvetica, sans-serif;
  transition: 0.3s;
}

.accordion-item-description {
  height: 2em;
  font-size: 0.85em;
  color: #999;
  font-family: Helvetica, sans-serif;
  transition: 0.3s;
}

.accordion-item-header,
.accordion-item-body {
  padding: 16px;
  font-family: Helvetica, sans-serif;
}

.accordion-item-header:hover {
  cursor: pointer;
  background-color: #eee;
  transition: 0.3s;
}

.accordion-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.accordion-item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
