<div class="menuContainer" xmlns="http://www.w3.org/1999/html">
  <div class="menuContents">
    <div class="pageTitle">
      <span>
        <mat-icon class="recipeIcon">restaurant_menu</mat-icon>
        <label class="menuLabel">Meal Plan </label>
      </span>
    </div>

    <div class="searchContainer">

      <button mat-button class="sort-button">
        <mat-icon> chevron_left </mat-icon>
      </button>
      <label class="sortLabel">Week {{weekNumber}}</label>
      <button mat-button class="sort-button">
        <mat-icon> chevron_right </mat-icon>
      </button>

    </div>


  </div>
</div>

<div class="weekContainer">



</div>
