<form>
  <mat-form-field>
    <input
      matInput
      type="text"
      class="input"
      placeholder="Search for an ingredient"
      [formControl]="searchBar"
      [matAutocomplete]="auto"
      forceSelection="name"
      #text
    />
    <mat-autocomplete
      class="searchContainer"
      #auto="matAutocomplete"
      [displayWith]="displayFn"
    >
      <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option"
      >
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      type="number"
      placeholder="Quantity (grams)"
      class="input"
      [formControl]="quantity"
      #text
    />
  </mat-form-field>
  <mat-icon (click)="update()">check_box</mat-icon>
</form>
