<div class="menuContainer" xmlns="http://www.w3.org/1999/html">
  <div class="menuContents">
    <div class="pageTitle">
      <span>
        <mat-icon class="recipeIcon">
          fastfood
        </mat-icon>
        <label class="menuLabel">Ingredient Creator</label>
      </span>
    </div>

  </div>
</div>

<div class="formContainer">
  <mat-label class="header">New Ingredient</mat-label>
  <form (ngSubmit)="onSubmit()">
    <div class="flexRowContainer">

      <div class="nameCatWeight-input" style="margin: 1em;">
        <mat-label class="subHeader">Base info</mat-label>

        <label class="input-label" for="title">Name </label>
        <input id="title" type="text" [(ngModel)]="title"/>

        <label class="input-label" for="category">Category </label>
        <input placeholder="E.g. Pork, Grain" id="category" type="text" [(ngModel)]="category"/>

        <label class="input-label" for="weight">Weight (grams) </label>
        <input value="100" id="weight" type="number" [(ngModel)]="weight"/>
      </div>

      <div formGroupName="nutrients" style="margin: 1em;">
        <mat-label class="subHeader">Nutrients</mat-label>

        <label class="input-label" for="calories">Calories </label>
        <input id="calories" type="number" [(ngModel)]="nutrients.calories"/>

        <label class="input-label" for="carbohydrates">Carbohydrates (g) </label>
        <input
          id="carbohydrates"
          type="number"
          [(ngModel)]="nutrients.carbohydrates"
        />

        <label class="input-label" for="fat">Fat (g)</label>
        <input id="fat" type="number" [(ngModel)]="nutrients.fat"/>

        <label class="input-label" for="fat">Saturated Fat (g)</label>
        <input id="satFat" type="number" [(ngModel)]="nutrients.saturatedFat"/>

        <label class="input-label" for="protein">Protein (g)</label>
        <input id="protein" type="number" [(ngModel)]="nutrients.protein"/>

        <label class="input-label" for="fiber">Fiber (g)</label>
        <input id="fiber" type="number" [(ngModel)]="nutrients.fiber"/>
      </div>
    </div>
    <div class="submit-container">
    <button mat-button class="submit-button" type="submit">
      <label>
        Submit
      </label>
    </button>
    </div>
  </form>
</div>
