<form (ngSubmit)="onSubmit()">
  <h2>Ingredient</h2>

  <label for="title">Title: </label>
  <input id="title" type="text" [(ngModel)]="title" />

  <label for="category">Category: </label>
  <input id="category" type="text" [(ngModel)]="category" />

  <label for="weight">Weight: </label>
  <input id="weight" type="number" [(ngModel)]="weight" />

  <div formGroupName="nutrients">
    <h2>Nutrients</h2>

    <label for="calories">Calories: </label>
    <input id="calories" type="number" [(ngModel)]="nutrients.calories" />

    <label for="carbohydrates">Carbohydrates: </label>
    <input
      id="carbohydrates"
      type="number"
      [(ngModel)]="nutrients.carbohydrates"
    />

    <label for="fat">Fat: </label>
    <input id="fat" type="number" [(ngModel)]="nutrients.fat" />

    <label for="protein">Protein: </label>
    <input id="protein" type="number" [(ngModel)]="nutrients.protein" />

    <label for="fiber">Fiber: </label>
    <input id="fiber" type="number" [(ngModel)]="nutrients.fiber" />
  </div>

  <button type="submit">Submit</button>
</form>
