<div class="parentContainer">
  <div class="flexContainer">
    <div [@inOutAnimation] *ngFor="let recipe of recipes" >
      <app-recipe-card [recipeNumber]="recipeIndex(recipe)" [recipe]="recipe"></app-recipe-card>
    </div>
   <!-- <button mat-fab class="fab-add-recipe-btn" (click)="newRecipe()">+</button> -->
</div>

  <div class="dockToBottom">
    <button
      mat-fab
      class="matFabAddBtn"
      style="margin-left: 12px"
    >
      <mat-icon class="icon-display">add</mat-icon>
    </button>
<!--
    <div
      class="crudActionsContainer">
      <button
        mat-mini-fab
        class="matFabMiniBtn">
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-mini-fab class="matFabDeleteBtn">
        <mat-icon>delete</mat-icon>
      </button>

      <button mat-mini-fab  class="matFabMiniBtn">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
    -->
  </div>
</div>
